* {
    background-color: rgb(156, 156, 156);
}
.container-map {
    margin-top: 0;
}
.map-div {
    width: 80%;
    height: 80%;
    align-content: center;
    margin: auto;
}
svg path:hover {
    fill: blue;
    cursor: pointer;
}
h2 {
    text-align: center;
    font-family: Courier;
}