* {
    background-color: rgb(156, 156, 156);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-row {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(90, 89, 89);
}

.content-row {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 20px;
}

.map-col {
    flex: 1;
    min-width: 0;
    width: 80%;
    height: 80%;
}

.stats-col {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: rgb(90, 89, 89);
}

.search-row input {
    font-size: 18px;
    font-family: monospace;
    padding: 12px 15px;
    width: 270px;
    border: 2px solid #444;
    border-radius: 6px;
    outline: none;
}

.search-row input:focus {
    border-color: #f32121;
    box-shadow: 0 0 5px rgba(129, 11, 11, 0.692);
}

.search-row button {
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-row button:hover {
    background-color: #1976D2;
}

